extend layout

block content
  h1="Login"
  form(id="loginForm" method="post" action="")
    label(for="Email") Email:
    input(type="email" id="Email" name="Email")
    input(type="submit" value="login")
  p
    a(href="/user/new") Sign Up
